#map {
 position: absolute;
 top:15%;
 left: 30%;
 right: 20%;
 height: 65%;
 width: 60%;
  /*width: 100%;*/
}
      /* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
